/* Header principal */
body>header {
    background-color: var(--beige);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo et titre Empreinte */
.header__brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__brand a {
    display: block;
    text-decoration: none;
}

.header__brand a:first-child img {
    margin-top: 30px;
}

.header__brand a:last-child img {
    margin-top : 50px;
}

/* Conteneur des contrôles à droite */
.header__controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Sélecteur de langue */
.header__lang-btn {
    background-color: var(--blanc);
    border: none;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: var(--string);
    font-size: 1rem;
    text-decoration: none;
    color: var(--noir);
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 25px;
}

.header__lang-btn::after {
    content: '▼';
    font-size: 0.7rem;
}

.header__lang-btn:hover {
    background-color: var(--blanc-cassé);
}

