/* ==========================================================================
   Composant Mary Anning - Page Mary Anning
   ========================================================================== */

.mary-anning {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.mary-anning__header {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--h1);
}

.mary-anning__header a {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80vh;
    order: -1;
}

.mary-anning__header img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.mary-anning__title {
    font-family: var(--inria);
    font-size: var(--h2);
    font-weight: 700;
    color: var(--noir);
    margin: 0;
    line-height: 1.3;
    padding: var(--texte-2) 1.25rem;
    background-color: var(--beige);
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mary-anning__meta {
    font-family: var(--string);
    font-size: var(--body-2);
    color: var(--gris);
    margin: 0;
    font-weight: 400;
    font-style: italic;
    padding: var(--texte-2) 1.25rem 0;
    max-width: 75rem;

    margin-right: auto;
}

.mary-anning__intro {
    font-family: var(--string);
    font-size: var(--body-1);
    color: var(--noir);
    line-height: 1.6;
    margin: 0;
    font-weight: 400;
    padding: var(--texte-2) 1.25rem var(--h2);
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;

}

.mary-anning__biography {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.mary-anning__biography p {
    font-family: var(--string);
    font-size: var(--body-1);
    color: var(--noir);
    line-height: 1.7;
    margin: 0 0 var(--h2) 0;
    font-weight: 400;
}

.mary-anning__biography figure {
    margin: var(--h2) 0;
    padding: 0;
}

.mary-anning__biography figure a {
    display: block;
    overflow: hidden;
}

.mary-anning__biography figure img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.mary-anning__biography figcaption {
    font-family: var(--string);
    font-size: var(--body-2);
    color: var(--gris);
    font-style: italic;
    margin-top: var(--texte-3);
    text-align: center;

}

.mary-anning__other-title {
    font-family: var(--inria);
    font-size: var(--h3);
    color: var(--noir);
    font-weight: 700;
    text-align: left;
    margin: var(--h1) 0 var(--h2) 0;
}

.mary-anning__other-scientists {
    position: relative;
    max-width: 50rem;
    margin: 0 auto;
    padding: var(--h2) 1.25rem;
}

.mary-anning__other-scientists::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 97%;
    width: 0.375rem;
    background-color: var(--noir);
    transform: translateX(-50%);
}

.mary-anning__other-scientists::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 97%;
    width: 0;
    height: 0;
    border-left: 0.9375rem solid transparent;
    border-right: 0.9375rem solid transparent;
    border-top: 1.4375rem solid var(--noir);
    transform: translateX(-50%);
}

.mary-anning__scientist-item {
    position: relative;
    width: 45%;
    margin-bottom: var(--h1);
    padding: var(--texte-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
}

.mary-anning__scientist-item:nth-child(odd) {
    margin-left: 0;
    margin-right: auto;
    text-align: right;
}

.mary-anning__scientist-item:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
    text-align: left;
}

.mary-anning__scientist-item::before {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--rouge);
    border-radius: 50%;
    top: 5rem;
    transform: translateY(-50%);
}

.mary-anning__scientist-item:nth-child(1)::before {
    background-color: var(--rouge);
    right: -1.875rem;
}

.mary-anning__scientist-item:nth-child(2)::before {
    background-color: var(--orange);
    left: -1.875rem;
}

.mary-anning__scientist-item:nth-child(3)::before {
    background-color: var(--pomme);
    right: -1.875rem;
}

.mary-anning__scientist-item:nth-child(4)::before {
    background-color: var(--cyan);
    left: -1.875rem;
}

.mary-anning__scientist-item:nth-child(5)::before {
    background-color: var(--bleu);
    right: -1.875rem;
}

.mary-anning__scientist-item a {
    display: block;
    overflow: hidden;
    margin-bottom: var(--texte-2);
}

.mary-anning__scientist-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
}

.mary-anning__scientist-item .mary-anning__scientist-name {
    font-family: var(--inria);
    font-size: var(--body-2);
    color: var(--noir);
    font-weight: 700;
    margin: 0 0 var(--small-texte-2) 0;

}

.mary-anning__scientist-item .mary-anning__scientist-bio {
    font-family: var(--string);
    font-size: var(--body-3);
    color: var(--gris);
    line-height: 1.6;
    margin: 0;
    font-weight: 400;
}